#footer {
	background-color: #f5f5f5;}

#push{
height: 90px;}

#footer {
	height: 45px;}
	
#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: -60px
}

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */}

#right-menu{
	background-color: rgb(238, 238, 238);
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
	color:#D7D7D7;
}

.jumbotron{
	margin-bottom: 45px;
}

.jumbotron h1 {
	font-size: 38px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
  }

.participant-box{
	margin-bottom: 5px;
    text-align: center;
}

.required{
    color: #c12e2a;
    font-weight: bolder;
}
