/site-packages/
/lib_pypy/
/lib-python/
/include
/bin/
*.pyc
*.out
*.sh
*.swp
*.db
/.DS_Store
/.Python
/lib
/source/session/
/source/resumes/
/source/.DS_Store
/source/website-data.db
/source/config.py
/bedrijvendagboek
/source/bedrijvendagboek
/build
/source/static/original
/source/static/resized
/source/logos
/source/*.log
.DS_Store
.idea
BedrijvendagWebsite.iml
man