{% extends "static/templates/layout.html" %}

{% block main %}

	<p class="lead">Bedrijvendag is a yearly job fair organised by Infogroep in cooperation with the Wetenschappelijke Kring.</p>
	<p>
		Both student fraternities at the VUB where we represent students of the science faculty. Our job fair is thereby focussed on students computer science, bioscience engineering, physics, chemistry, mathematics, biology and geography.
	</p>
	<p>
		Our goal is to give students the opportunity to meet different companies and to explore their opportunities after graduation. Companies may meet these students by buying a stand at our job fair and promote themselves in our bedrijvendagboek, a book where companies are offered the chance to explain what they are about, and what they are looking for. You can also choose to only buy advertising space in our bedrijvendagboek.
	</p>
	<p>
		We also collect resumes of student that will be available to these participating companies
	</P>

{% endblock %}