{% extends "static/templates/layout.html" %}
{% set active = "about" %}

{% block main %}
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About the Bedrijvendag</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>What is the Bedrijvendag?</h3>

                <p>Bedrijvendag is a yearly job fair organised by Infogroep in cooperation with the Wetenschappelijke
                    Kring.</p>

                <p>
                    Both student societies at the VUB where we represent students of the science faculty. Our job fair
                    is thereby focussed on students computer science, bioscience engineering, physics, chemistry,
                    mathematics, biology and geography.
                </p>

                <p>
                    Our goal is to give students the opportunity to meet different companies and to explore their
                    opportunities after graduation. Companies may meet these students by buying a stand at our job fair
                    and promote themselves in our bedrijvendagboek, a book where companies are offered the chance to
                    explain what they are about, and what they are looking for. You can also choose to only buy
                    advertising space in our bedrijvendagboek.
                </p>

                <p>
                    We also collect resumes of student that will be available to these participating companies.
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Location</h3>
                Click on the marker to go to Google Maps for <a
                    href="https://www.google.be/maps/place/50°49'14.8%22N+4°23'42.6%22E/@50.820768,4.395173,18z">directions</a>.<br/>

                <div id="about-us-map">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Master programmes</h3>

                <p>What follows is a list of all masters programmes taught by our faculty. All programmes are available
                    to Dutch speaking students (either in Dutch or English), but when no equivalent English programme
                    exists, we use its Dutch title.<br/><br/></p>
                <b>Biology</b>
                <ul>
                    <li>Master of Science in Biology: Environment, Biodiversity and Ecosystems</li>
                    <li>Master of Science in Biology: Herpetology</li>
                    <li>Master of Science in Biology: EMMC Tropical Biodiversity and Ecosystems</li>
                    <li>Master of Science in Biology: Genetics, Cell and Developmental Biology</li>
                    <li>Master of Science in Biology: Human Ecology</li>
                    <li>Master of Science in de biologie: onderwijs</li>
                    <li>Master of Science in Molecular Biology</li>
                </ul>


                <b>Bio-engineering</b>
                <ul>
                    <li>Master of Science in de bio-ingenieurswetenschappen: cel- en genbiotechnologie:
                        agrobiotechnologie
                    </li>
                    <li>Master of Science in de bio-ingenieurswetenschappen: cel- en genbiotechnologie: medische
                        biotechnologie
                    </li>
                    <li>Master of Science in de bio-ingenieurswetenschappen: cel- en genbiotechnologie: moleculaire
                        biotechnologie
                    </li>
                    <li>Master of Science in de bio-ingenieurswetenschappen: chemie en bioprocestechnologie: chemische
                        biotechnologie
                    </li>
                    <li>Master of Science in de bio-ingenieurswetenschappen: chemie en bioprocestechnologie:
                        voedingsbiotechnologie
                    </li>
                    <li>Master of Science in de bio-ingenieurswetenschappen: chemie en bioprocestechnologie:
                        biochemische biotechnologie
                    </li>
                </ul>


                <b>Computer Science</b>
                <ul>
                    <li>Master of Science in Applied Sciences and Engineering: Computer Science, profile Artificial
                        Intelligence
                    </li>
                    <li>Master of Science in Applied Sciences and Engineering: Computer Science, profile Multimedia</li>
                    <li>Master of Science in Applied Sciences and Engineering: Computer Science, profile Software
                        Languages and Software Engineering
                    </li>
                    <li>Master of Science in Applied Sciences and Engineering: Computer Science, profile Web and
                        Information Systems
                    </li>
                    <li>Master of Science in Applied Sciences and Engineering: Applied Computer Science</li>
                </ul>


                <b>Chemistry</b>
                <ul>
                    <li>Master of Science in de chemie: profiel industrie</li>
                    <li>Master of Science in de chemie: profiel onderzoek</li>
                    <li>Master of Science in de chemie: profiel onderwijs</li>
                </ul>


                <b>Geography</b>
                <ul>
                    <li>Master in de stedenbouw en de ruimtelijke planning</li>
                    <li>Master of Science in Geography, profile Earth and Climate</li>
                    <li>Master of Science in Geography: profile City, Society and Space</li>
                    <li>Master of Science in Geography: profile GIS and Spatial Modelling</li>
                    <li>Master of Science in Urban Studies</li>
                </ul>

                <b>Mathematics</b>
                <ul>
                    <li>Master of Science in de wiskunde: financiële wiskunde</li>
                    <li>Master of Science in de wiskunde: fundamentele wiskunde</li>
                    <li>Master of Science in de wiskunde: onderwijs</li>
                </ul>


                <b>Physics</b>
                <ul>
                    <li>Master of Science in de fysica en de sterrenkunde: onderzoek</li>
                    <li>Master of Science in de fysica en de sterrenkunde: economie en bedrijfsleven</li>
                    <li>Master of Science in de fysica en de sterrenkunde: onderwijs</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}