{% extends "static/templates/admin.html" %}
{% block admin %}

<table class="table">
	<tr>
		<b><td>Company</td><td>formula</td><td>state</td><td>tables</td><td>Promotion wands</td><td>high stand</td><td>remarks</td><td></td></b>
	</tr>
	{% for company in participants %}
   	<tr>
       	{% for index in range(0, 6) %}
		<td>{{company[index]}}</td>
       	{% endfor%}
       	<td>
       		{% if company[7] == 0 %}
       		<a class="btn" href="participants/setstate/{{company[0]}}/1">Confirm</a>
       		<a class="btn" href="participants/setstate/{{company[0]}}/2">Place in queue</a>
       		{% endif %}
       		{% if company[] == 2 %}
       		<a class="btn" href="participants/setstate/{{company[0]}}/1">Confirm</a>
       		{% endif %}
       	</td>
   	</tr>
	{% endfor %}
</table>

{% endblock %}
