{% extends "static/templates/admin.html" %}
{% block admin %}

<table class="table">
	<tr>
        <th>Company</th>
        <th>Status</th>
        <th>Stand</th>
        <th>Price</th>
        <th>Debet nota</th>
        <th>Payment Status</th>
    </tr>
	{% for company in participants %}
    <tr>
        <td>{{company[0]}}</td>
        <td>{{company[1]}}</td>
        <td>{{company[3]}}</td>
        <td>&euro;{{company[4]}}</td>
        {% if company[5] %}
        <td><a class="btn btn-default" href="/{{name}}/financial/download_invoice/{{company[0]}}" role="button">Download invoice</a></td>
        {% else %}
            <td><a class="btn btn-default" href="/{{name}}/financial/generate_invoice/{{company[0]}}" role="button">Generate invoice</a></td>
        {% endif %}
        {% if company[2] == None or company[2] == 0 %}
            <td><a href="/{{name}}/financial/{{company[0]}}/{{edition}}/payment_status"><span class="payment-none glyphicon glyphicon-remove"></span></a></td>
        {% else %}
            <td><span class="payment-ok glyphicon glyphicon-ok"></span></td>
        {% endif %}
    </tr>
{% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td><b>TOTAL: </b></td>
        <td><b>&euro;{{revenue}}</b></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><b>CONFIRMED: </b></td>
        <td><b>&euro;{{confirmed_revenue}}</b></td>
    </tr>
</table>

{% endblock %}
