{% extends "static/templates/company_page.html" %}
{% block company %}

	Resumes will be made available 1 week after the job fair.<br>
	All the collected resumes you are entitled to can be found here.
	<hr>
	<div class="container">
        <div class="row-fluid">
            <div class="col-md-4 col-xs-3 col-sm-3 img-rounded">
				<ul>
				{% for year in years %}

					<li><a href="/company/{{name}}/resumes/{{year}}.zip">{{year}}</a></li>

				{% endfor %}
				</ul>
			</div>
			<div class="col-md-4 col-xs-3 col-sm-3 img-rounded">
<!--
				{% if sel_year != 0 %}
				<ul>
					<li><a href="/company/{{name}}/resumes/{{sel_year}}/computerwetenschappen">Computer Science</a></li>
					<li><a href="/company/{{name}}/resumes/{{sel_year}}/biologie">Biology</a></li>
					<li><a href="/company/{{name}}/resumes/{{sel_year}}/chemie">Chemie</a></li>
					<li><a href="/company/{{name}}/resumes/{{sel_year}}/fysica">Physics</a></li>
					<li><a href="/company/{{name}}/resumes/{{sel_year}}/geografie">Geography</a></li>
					<li><a href="/company/{{name}}/resumes/{{sel_year}}/wiskunde">Mathemathics</a></li>
					<li><a href="/company/{{name}}/resumes/{{sel_year}}/bio-ingenieur">Bioscience Engineering</a></li>
					<li><a href="/company/{{name}}/resumes/{{sel_year}}/ander">Others</a></li>
				</ul>
				{% endif %}
			-->
			</div>
		</div>
	</div>

{% endblock %}
