{% extends "static/templates/layout.html" %}
{% block main %}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">{{name}}</a>
            <ul class="nav">
                <li><a href="/company/{{name}}">Home</a></li>
                <li><a href="/company/{{name}}/information">Information</a></li>
                <li><a href="/company/{{name}}/register">Register</a></li>
                <li><a href="/company/{{name}}/résumés">Résumés</a></li>
            </ul>
        </div>
    </div>
    
    {% block company %}{% endblock %}
{% endblock %}
