{% extends "static/templates/company_page.html" %}
{% block company %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h3>Be Aware</h3>
                <p>Infogroep reserves the right to edit the content of the template page to fit in the space you have available.</p>
                {% if company_page %}
                    <a href="{{ company_page }}">View your companies page</a>
                {% endif %}
            </div>
            <br />
            <br />
            <br />
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Companies book: Template page</h3>
                <div class="contact-form-wrapper">
                    <form class="form-horizontal" action="/company/{{name}}/companiesbook" method="post">
                        <div class="form-group">
                            <label for="location" class="control-label col-lg-3 companiesbook-label">Location</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="location" name="location">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="slogan" class="control-label col-lg-3 companiesbook-label">Slogan</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="slogan" name="slogan">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="why" class="control-label col-lg-3 companiesbook-label">Why {{name}}?</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="why" name="why">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="schooling" class="control-label col-lg-3 companiesbook-label">In-service training possibilities</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="shooling" name="shooling">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="develop" class="control-label col-lg-3 companiesbook-label">Internal growth possibilities</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" id="develop" name="develop">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3 companiesbook-label">Language Skills</label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="NL" name="NL" value="True">Dutch
                            </label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="FR" name="FR" value="True">French
                            </label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="ENG" name="ENG" value="True">English
                            </label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox"  id="DE" name="DE" value="True">German
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3 companiesbook-label">Offering</label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="JOBS" name="JOBS" value="True">Jobs
                            </label>
                            <label class="checkbox-inline control-label col-lg-3">
                                <input type="checkbox" id="SJOBS" name="SJOBS" value="True">Student Jobs
                            </label>
                            <label class="checkbox-inline control-label col-lg-3">
                                <input type="checkbox" id="STAGE" name="STAGE" value="True">Internship
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3 companiesbook-label">Interested in</label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="FY" name="FY" value="True">Physics
                            </label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="CH" name="CH" value="True">Chemistry
                            </label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="WI" name="WI" value="True">Mathematics
                            </label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="BIO" name="BIO" value="True">Biology
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="checkbox-inline control-label col-lg-2 col-lg-offset-3">
                                <input type="checkbox" id="CW" name="CW" value="True">Computer science
                            </label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="GEO" name="GEO" value="True">Geography
                            </label>
                            <label class="checkbox-inline control-label col-lg-2">
                                <input type="checkbox" id="BIN" name="BIN" value="True">Bioscience engineering
                            </label>
                        </div>
                        <div class="form-group button">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>Companies book: Additional pages</h3>
                {% for index in range(pages)%}
                    <form action="/company/{{name}}/upload/{{index}}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="free_page" class="control-label col-sm-3">Page {{index+1}}</label>
                            <div class="col-sm-9">
                                <input type="file" id="free_page" name="free_page">
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn pull-right">Upload</button>
                            </div>
                        </div>
                    </form>
                    <br />
                    <br />
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
