{% extends "static/templates/layout.html" %}
{% block main %}
<div class="section section-breadcrumbs section-company">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <nav id="mainmenu" class="mainmenu">
                    <ul class="nav-submenu nav navbar-nav">
                        <li><a href="/company/{{name}}">Company</a></li>
                        <li><a href="/company/{{name}}/companiesbook">Companies book</a></li>
                        <li><a href="/company/{{name}}/enlist">Enlist</a></li>
                        <li><a href="/company/{{name}}/resumes">Résumés</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {% block company %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
