{% extends "static/templates/company_page.html" %}
{% block company %}

{% if (not participant)%}
    <h2>You are not a participant yet of this years event</h2>
{% else %}
    <h2>Current state: {{state}}</h2>
{% endif %}

<form class="horizontal-form pull-left" action="/company/{{name}}/enlist" method="post">
     {% if (not confirmed) %}
     <div class="control-group">
        <label class="control-label" for="formula">Formula</label>
        <select id="formula" name="formula">
            {% for item in options %}
            <option value="{{item[0]}}"
                {% if confirmed %}
                    disabled
                {% endif %}
                >{{item[1]}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div  class="control-group">
        <label class="control-label" for="high">High Stand (> 2,1 meters)</label>
        <input type="checkbox" name="high" id="high" value="1">
        <span class="help-block">Number of places higher then 2,1 meters are limited</span>
    </div>
    <br>
    {% endif %}
    {% if participant %}
    <div class="control-group">
        <label class="control-label" for="table">Number of tables</label>
        <input type="number" name="table" id="table">
        <span class="help-block">Only people with the big stand formula may choose there number of tables</span>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" for="promo_wand">Number of promotion wands</label>
        <input type="number" name="promo_wand" id="promo_wand">
        <span class="help-block">Only people with the big stand formula may choose there number of promotion wands</span>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" for="remarks">Remarks</label>
        <input type="text" name="remarks" id="remarks">
        <span class="help-block">Any additional remarks may be placed here.</span>
    </div>
    <br>
    {% endif %}
    <div class="control-group">
        <button class="btn" type="submit">Enlist</button>
    </div>
    <br>
</form>
        <div class="pull-right">
            {% for item in options %}
                <p><b>{{item[1]}}:</b> €{{item[2]}}</p>
            {% endfor %}
            Please read the <a href="/pricelist">price list</a> for<br>more detailed information.
        </div>

{% endblock %}
