{% extends "static/templates/admin.html" %}
{% block admin %}
<form class="form-horizontal" action="/add news" method="post"> 
    <legend>Add a news item</legend>
        <div class="form-group">
            <label class="control-label" for="short">Title</label>
            <div class="controls">
                <input type="text-area" class="form-control" id="short" name="short" placeholder="Title" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="news">News item</label>
            <div class="controls">
                <input type="text-area" rows="3" class="form-control" placeholder="Actual news" id="news" name="news" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add news item</button>
</form>
<hr>
{% for newsrow in news_feed_query %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">{{newsrow[2]}}   <small>{{newsrow[1]}}</small>
            <a href="/infogroep/delete_news/{{newsrow[0]}}"><button type="button" class="close">&times;</button></a></h4>
        </div>
            <div class="panel-body">{{newsrow[3]}}</div>
       </div>
{% endfor%}

{% endblock %}
