<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Kwinten"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Bedrijvendag 2014</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
        <script scr="/static/js/jquery.js"></script>
        <script scr="/static/js/bootstrap.js"></script>
    </head>
    <body>
        <header class="jumbotron subhead">
            <div class="container">
                <div class="row-fluid">
                    <div class="col-md-3">
                        <img src="static/img/iglogo-groot.png" width="250">
                    </div>
                    <div class="col-md-6">
                        <h1>Infogroep Bedrijvendag</h1>
                        <p class="lead">Editie {{ edition }}</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
        <div class="row-fluid">
            <div class="col-md-9">
                {% block main %}{% endblock %}
            </div>
            <div class="col-md-2">
                <div class="nav nav-list">
                    <li class="nav-header">Bedrijvendag</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">When and where</a></li>
                    <li><a href="/">Participants</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Students</Li>
                    <li><a href="/resume">Upload your Résumé</a></li>
                    <li><a href="/">Tombola</a></li>
                    <li class="divider"></li>
                    <li class ="nav-header">Companies</li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Create account</a></li>
                    <li><a href="/pricelist">Price list</a></li>
                </div>
            </div>
        </div>
        </div>
     </body>
</html>
