<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Kwinten Pardon, infogroep"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Infogroep Bedrijvendag {{ edition }}</title>
        
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/static/css/bedrijvendag.css" rel="stylesheet" type="text/css">
        
        <script scr="/static/js/jquery.js"></script>
        <script scr="/static/js/bootstrap.js"></script>

        <!-- Facebook -->
        <meta property="og:title" content="Infogroep Bedrijvendag {{ edition }}"/>
        <meta property="og:type" content="Event"/>
        <meta property="og:url" content="http://bedrijvendag.infogroep.be"/>
        <meta property="og:image" content="http://bedrijvendag.infogroep.be//static/img/iglogo-groot.png"/>
        <meta property="og:site_name" content="Infogroep Bedrijvendag"/>
        <meta property="og:description"
              content="Bedrijvendag is an event hosted by infogroep to improve contact between companies and students of the VUB. 
              With a focus on students from the science faculty"/>
    </head>
    <body>
    <div id="wrap">
        <header class="jumbotron subhead" id="header">
            <div class="container">
                <div class="row-fluid">
                    <div class="col-md-3">
                        <img src="/static/img/iglogo-groot.png" width="175">
                    </div>
                    <div class="col-md-6">
                        <h1>Infogroep</br>Wetenschappelijke Kring</br>Bedrijvendag</h1>
                        <p class="lead">Edition {{ edition }}</p>
                    </div>
                    <div class="col-md-3">
                        <img src="/static/img/wk-groot.png" width="175">
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
        <div class="row-fluid">
            <div class="col-md-9">
                {% block main %}{% endblock %}
            </div>
            <div class="col-md-2 img-rounded" id="right-menu">
                <div class="nav nav-list">
                    <li class="nav-header">Bedrijvendag</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/when_and_where">When and where</a></li>
                    <li><a href="/participants">Participants</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Students</Li>
                    <li><a href="/resume">Upload your Résumé</a></li>
                    <li><a href="/tombola">Tombola</a></li>
                    <li class="divider"></li>
                    <li class ="nav-header">Companies</li>
                    {% if name == None or name is not defined %}
                        <li><a href="/login">Login</a></li>
                        
                    {% elif admin %}
                        <li><a href="/{{ name }}">{{ name }}</a></li>
                    {% else %}
                        <li><a href="/company/{{ name }}">{{ name }}</a></li>
                    {% endif %}
                    <li><a href="/register">Create account</a></li>
                    <li><a href="/pricelist">Price list</a></li>
                </div>
            </div>
        </div>
        
        </div>
        <div id="push"></div>
        <div id="footer">

        </div>

     </body>
</html>
