{% extends "static/templates/layout.html" %}

{% block main %}

    {% with messages = get_flashed_messages() %}
        {%if messages %}
            {% for message, type in messages %}
                <div class="{{ type }}">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        
    <form class="form-horizontal text-center" action="/login" method="post" role="form">
        <h2 class="form-signin-heading">Sign in</h2>
        <div class="form-group">
            <input type="text" class="input-block-level" placeholder="Company name" id="name" name="name">
        </div>
        <div class="form-group">
            <input type="password" class="input-block-level" placeholder="Password" id="password" name="password">
        </div>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
    </form>

{% endblock %}
