{% extends "static/templates/layout.html" %}

{% block main %}

    {% with messages = get_flashed_messages() %}
        {%if messages %}
            {% for message, type in messages %}
                <div class="alert alert-{{ type }}">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="basic-login">
                    <form role="form">
                        <div class="form-group">
                            {{form.company_name(class_='form-control', placeholder='Email')}}
                        </div>
                        <div class="form-group">
                             {{form.password(class_='form-control', placeholder='Password')}}
                        </div>
                        <div class="form-group">
                            <a href="/recover" class="forgot-password">Forgot password?</a>
                            <button type="submit" class="btn pull-right">Login</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-7 social-login">
                <div class="not-member">
                    <p>Not enlisted yet? <a href="page-register.html">Register here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
