{% extends "static/templates/layout.html" %}

{% block main %}

    {% with messages = get_flashed_messages() %}
        {%if messages %}
            {% for message, type in messages %}
                <div class="{{ type }}">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        
    <form class="form-horizontal text-center" action="/recover/{{ hash }}" method="post" role="form">
        <h2 class="form-signin-heading">Password recovery</h2>
        <div class="form-group">
            <input type="password" class="input-block-level" placeholder="Password" id="password" name="password">
        </div>
        <div class="form-group">
            <input type="password" class="input-block-level" placeholder="Confirm password" id="password_confirm" name="password_confirm">
        </div>
        <button class="btn btn-large btn-primary" type="submit">Reset password</button>
    </form>

{% endblock %}
