{% extends "static/templates/layout.html" %}

{% block main %}
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Pricelist</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Premium (Big Stand)</th>
                <th>Standard (Small Stand)</th>
                <th>Starter (Walk-by Stand)</th>
                <th>Companies Book</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Logo on the poster</td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Logo on the website</td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <tr>
                <td>Access to the collected resumes</td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>Template page companies book</td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>Free page companies book</td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
                <td><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
            <tr>
                <td>Dimensions</td>
                <td>2,5 X 3,5 meter</td>
                <td>2,0 X 2,5 meter</td>
                <td>1 Table size</td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <tr>
                <td>Provided tables</td>
                <td>Unlimited</td>
                <td>Max 2</td>
                <td>1</td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            <tr>
                <td>Provided promotion walls</td>
                <td>Unlimited</td>
                <td>Max 2</td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
                <td><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
             <tr>
                <td>Price</td>
                <td>&euro; 900</td>
                <td>&euro; 650</td>
                <td>&euro; 300</td>
                <td>&euro; 100</td>
            </tr>

        </tbody>
    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
