{% extends "static/templates/layout.html" %}

{% block main %}

    <p id="Big stand">
        <b>Big stand</b>
        <ul>
            <li>Logo on the poster</li>
            <li>Logo on the website</li>
            <li>acces to the collected resumes</li>
            <li>2 pages in the companies book</li>
            <ul>
                <li>A page filled using the provided templated</li>
                <li>A page to be filled however you wish</li>
                <li>More space in the book can be bought</li>
            </ul>
            <li>Dimension 2,5 meter by 3,5 meter</li>
            <li>Unlimited number of tables</li>
            <li>Unlimited number of promotion walls</li>
            <li>price: €900</li>
        </ul>
    </p>
    <hr class="soften">
    <p id="Small stand">
        <b>Small stand</b>
        <ul>
            <li>Logo on the poster</li>
            <li>Logo on the website</li>
            <li>acces to the collected resumes</li>
            <li>2 pages in the companies book</li>
            <ul>
                <li>A page filled using the provided template</li>
                <li>A page to be filled however you wish</li>
                <li>More space in the book can be bought</li>
            </ul>
            <li>Dimension 2 meter by 2,5 meter</li>
            <li>1 table</li>
            <li>1 promotion wall</li>
            <li>Price: €650</li>
        </ul>
    </p>
    <p id="Walkby stand">
    <hr class="soften">
        <b>Walk by stand</b>
        <ul>
            <li>1 table</li>
            <li>2 chairs</li>
            <li>1 page in the companies book</li>
            <ul>
                <li>Half a page filled using the provided template</li>
                <li>Half a page to be filled however you wish</li>
            </ul>
            <li>Price: €300</li>
        </ul>
    </p>
    <p id="Companies book">
        <b>Companies book</b>
        <ul>
            <li>Full page: €75</li>
            <li> Half a page: €50</li>
        </ul>
    </p>
{% endblock %}
