{% extends "static/templates/layout.html" %}
{% block main %}

    {% with messages = get_flashed_messages() %}
        {%if messages %}
            {% for message, type in messages %}
                <div class="alert alert-{{ type }}">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form role="form" action="/register" method="post">
        <div class="form-group">
            <label class="control-label" for="name">Company name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label class="control-label" for="retype_password">Retype password</label>
            <input class="form-control" type="password" id="retype_password" name="retype_password">
        </div>
        <div class="form-group">
            <label class="control-label" for="address">Address</label>
            <input class="form-control" type="text" id="adress" name="address" placeholder="street name, number">
        </div>
        <div class="form-group">
            <label class="control-label" for="postal">Postal</label>
            <input class="form-control" type="number" id="zipcode" name="zipcode"  placeholder="Zipcode">
        </div>
        <div class="form-group">
            <label class="control-label" for="city">City</label>
            <input class="form-control" type="text" id="city" name="city" placeholder="City">
        </div>
        <div class="form-group">
            <label class="control-label" for="country">Country</label>
            <input class="form-control" type="text" id="country" name="country" placeholder="Country">
        </div>
        <div class="form-group">
            <label class="control-label" for="contact">Contact person</label>
            <input class="form-control" type="text" id="tav" name="tav" placeholder="contact">
        </div>
        <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="contact@company.be">
        </div>
        <div class="form-group">
            <label class="control-label" for="tel">Telephone number</label>
            <input class="form-control" type="tel" id="tel" name="tel" placeholder="02/629.33.56">
        </div>
        <div class="form-group">
            <label class="control-label" for="fax">Fax number</label>
            <input class="form-control" type="tel" id="fax" name="fax" placeholder="02/629.33.56">
        </div>
        <div class="form-group">
            <label class="control-label" for="cell">Cellphone number</label>
            <input class="form-control" type="tel" id="cell" name="cell" placeholder="02/629.33.56">
        </div>
        <div class="form-group">
            <label class="control-label" for="website">Website</label>
            <input class="form-control" type="url" id="website" name="website">
        </div>
        <div class="form-group">
            <br>
            <button type="submit" class="btn btn-primary">Register</button>

        </div>
        <br>
    </form>
{% endblock %}
