{% extends "static/templates/layout.html" %}
{% block main %}

    {% with messages = get_flashed_messages() %}
        {%if messages %}
        <div class="alert alert-danger">
            {% for message, type in messages %}
                <strong>{{message}}</strong></br>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <form role="form" action="/register" method="post">
        <div class="form-group">
            <label class="control-label" for="name">{{form.company_name.label}}</label>
            {{form.company_name(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="password">{{form.password.label}}</label>
            {{form.password(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="retype_password">{{form.retype_password.label}}</label>
            {{form.retype_password(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="address">{{form.address.label}}</label>
            {{form.address(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="postal">{{form.postal.label}}</label>
            {{form.postal(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="city">{{form.city.label}}</label>
            {{form.city(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="country">{{form.country.label}}</label>
            {{form.country(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="contact">{{form.contact.label}}</label>
            {{form.contact(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="email">{{form.email.label}}</label>
            {{form.email(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="tel">{{form.tel.label}}</label>
            {{form.tel(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="tel">{{form.fax.label}}</label>
            {{form.fax(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="tel">{{form.cel.label}}</label>
            {{form.cel(class_="form-control")}}
        </div>
        <div class="form-group">
            <label class="control-label" for="website">{{form.website.label}}</label>
            {{form.website(class_="form-control")}}
        </div>
        <div class="form-group">
            <br>
            <button type="submit" class="btn btn-primary">Register</button>

        </div>
        <br>
    </form>
{% endblock %}
