{% extends "static/templates/layout.html" %}

{% block main %}

{% with messages = get_flashed_messages() %}
        {%if messages %}
            {% for message, type in messages %}
                <div class="alert alert-{{ type }}">
                    <strong>{{message}}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<form role="form" method="post" action="/resume" enctype="multipart/form-data">
    <div class="form-group">
        <label class="control-label" for="rolnummer">{{form.enrollment_number.label}}</label>
        {{form.enrollment_number(class_="form-control")}}
    </div>
    <div class="form-group">
        <label class="control-label" for="studierichting">{{form.field_of_study.label}}</label>
        {{form.field_of_study(class_="form-control")}}
    </div>
    <div class="form-group">
        <label class="control-label" for="resume ">Résumé</label>
        {{form.resume}}
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Upload</button>
    </div>
</form>


{% endblock %}
